{{- /* 企业微信应用模板 */ -}}
{{ define "wechat.default.message" }}
{{- if gt (len .Alerts.Firing) 0 -}}
{{- range $index, $alert := .Alerts -}}
{{- if eq $index 0 -}}
　　　　　异常消息
                    
消息类型: {{ $alert.Labels.alertname }}
协议: {{ $alert.Labels.job }}  端口: {{ $alert.Labels.port }}
主机节点: {{ $alert.Labels.instance_region }}
IP(域名): {{ $alert.Labels.instance }}
用户: {{ $alert.Labels.name }}
告警详情: 
  {{ $alert.Annotations.description }}
告警时间:{{ ($alert.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
{{- end }}
{{- end }}
{{- end }}
{{- if gt (len .Alerts.Resolved) 0 -}}
{{- range $index, $alert := .Alerts -}}
{{- if eq $index 0 -}}
　　　　　恢复消息

消息类型: {{ $alert.Labels.alertname }}
协议: {{ $alert.Labels.job }}  端口: {{ $alert.Labels.port }}
主机节点: {{ $alert.Labels.instance_region }}
IP(域名): {{ $alert.Labels.instance }}
用户: {{ $alert.Labels.name }}
告警详情: 
  {{ $alert.Annotations.description }}
告警时间:{{ ($alert.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
恢复时间:{{ ($alert.EndsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
